@import '~bootstrap/scss/bootstrap';
 body {
	 background-color: #f4e7de !important;
}
 ::-webkit-scrollbar {
	 width: 6px;
	 border-left: 1px solid #f4e7de;
}
 ::-webkit-scrollbar-thumb {
	 background-color: #159772;
}
 .plain-link {
	 text-decoration: none;
	 color: #805d93 !important;
}
 .plain-link:hover, .plain-link:focus, .plain-link:active {
	 color: #a979c3 !important;
}
 .button-link {
	 text-decoration: none;
	 background-color: #159772;
	 color: #eaeaea !important;
	 padding-top: 6px;
}
 .button-link:hover, .button-link:focus, .button-link:active {
	 color: #fff !important;
}
 .btn-secondary {
	 color: #fff !important;
}
 .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:visited {
	 color: #fff !important;
}
 [aria-labelledby='drop-full'] {
	 min-width: 100% !important;
	 transform: translate(0px, 32px) !important;
}
 .dropdown-menu {
	 background-color: #805d93 !important;
	 border-color: #a979c3;
}
 .dropdown-menu .dropdown-item {
	 background-color: #805d93;
	 color: #eaeaea;
}
 .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:active {
	 color: #eaeaea;
	 background-color: #a979c3;
}
 .dropdown-menu .dropdown-divider {
	 background-color: #805d93;
	 border-top-color: #a979c3;
}
 .navbar {
	 background-color: #805d93;
}
 .navbar .navbar-brand {
	 color: #eaeaea;
}
 .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	 color: #eaeaea;
}
 .navbar .navbar-text {
	 color: #eaeaea;
}
 .navbar .navbar-text a {
	 color: #eaeaea;
}
 .navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
	 color: #eaeaea;
}
 .navbar .navbar-nav .nav-link {
	 color: #eaeaea;
	 border-radius: 0.25rem;
	 margin: 0 0.25em;
}
 .navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
	 color: #eaeaea;
}
 .navbar .navbar-nav .dropdown-menu {
	 background-color: #805d93;
	 border-color: #a979c3;
}
 .navbar .navbar-nav .dropdown-menu .dropdown-item {
	 color: #eaeaea;
}
 .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
	 color: #eaeaea;
	 background-color: #a979c3;
}
 .navbar .navbar-nav .dropdown-menu .dropdown-divider {
	 border-top-color: #a979c3;
}
 .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link:focus {
	 color: #eaeaea;
	 background-color: #a979c3;
}
 .navbar .navbar-toggler {
	 border-color: #a979c3;
}
 .navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus {
	 background-color: #a979c3;
}
 .navbar .navbar-toggler .navbar-toggler-icon {
	 color: #eaeaea;
}
 .navbar .navbar-collapse, .navbar .navbar-form {
	 border-color: #eaeaea;
}
 .navbar .navbar-link {
	 color: #eaeaea;
}
 .navbar .navbar-link:hover {
	 color: #eaeaea;
}
 .navbar .form-control {
	 border-color: #159772 !important;
}
 .navbar .form-control:focus, .navbar .form-control:active, .navbar .form-control:visited {
	 border-color: #159772 !important;
}
 @media (max-width: 575px) {
	 .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
		 color: #eaeaea;
	}
	 .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
		 color: #eaeaea;
	}
	 .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
		 color: #eaeaea;
		 background-color: #a979c3;
	}
}
 @media (max-width: 767px) {
	 .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
		 color: #eaeaea;
	}
	 .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
		 color: #eaeaea;
	}
	 .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
		 color: #eaeaea;
		 background-color: #a979c3;
	}
}
 @media (max-width: 991px) {
	 .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
		 color: #eaeaea;
	}
	 .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
		 color: #eaeaea;
	}
	 .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
		 color: #eaeaea;
		 background-color: #a979c3;
	}
}
 @media (max-width: 1199px) {
	 .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
		 color: #eaeaea;
	}
	 .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
		 color: #eaeaea;
	}
	 .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
		 color: #eaeaea;
		 background-color: #a979c3;
	}
}
 .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
	 color: #eaeaea;
}
 .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
	 color: #eaeaea;
}
 .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
	 color: #eaeaea;
	 background-color: #a979c3;
}
 @media (max-width: 991px) {
	 #toggle-search {
		 display: none;
	}
}
 .block-button {
	 display: block;
	 width: 300px;
	 margin: 0px 15px 15px 15px !important;
}
 .flex-book-row {
	 flex-direction: row;
	 flex-wrap: wrap;
	 align-content: normal;
	 justify-content: normal;
	 align-items: flex-end;
}
 .img-book-item {
	 border-radius: 10px !important;
	 box-shadow: 2px 2px 2px 2px #805d93;
	 margin: 10px;
}
 .flex-book {
	 display: flex !important;
	 border-width: 0px !important;
	 margin-top: 5px;
	 background-color: #f4e7de !important;
	 align-content: stretch;
	 justify-content: center;
	 align-items: end;
	 flex-wrap: wrap;
}
 .user-card {
	 background-color: #f4e7de !important;
	 margin: 10px;
	 border-width: 0px !important;
	 align-items: center;
	 text-align: center;
}
 .request-card {
	 display: flex;
	 align-items: center;
}
 #chatRow {
	 --bs-gutter-x: 0;
}
 