body {
  background-color: #f4e7de !important;
}

//overwrite
$theme-colors: (
  'primary': #805d93,
  'secondary': #159772,
  'info': #413B88,
  'danger': #ff3257
);

$font-family-base: 'QuickSand';
$font-weight-light: 400;
$font-weight-normal: 600;
$font-weight-bold: 900;
$font-size-base: 1.6rem;

$bgDefault: #805d93;
$bgHighlight: #a979c3;
$colDefault: #eaeaea;
$colHighlight: #eaeaea;
$dropDown: true;

//scrollbar
::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #f4e7de;
}
::-webkit-scrollbar-thumb {
  background-color: #159772;
}

//plain links
.plain-link {
  text-decoration: none;
  color: $bgDefault !important;
  &:hover,
  &:focus,
  &:active {
    color: $bgHighlight !important;
  }
}

.button-link {
  text-decoration: none;
  background-color: #159772;
  color: #eaeaea !important;
  padding-top: 6px;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff !important;
  }
}

//secondary button
.btn-secondary {
  color: #ffffff !important;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: #ffffff !important;
  }
}

// dropdown menu button
[aria-labelledby='drop-full'] {
  min-width: 100% !important;
  transform: translate(0px, 32px) !important;
}

//generic dropdown
.dropdown-menu {
  background-color: $bgDefault !important;
  border-color: $bgHighlight;

  .dropdown-item {
    background-color: $bgDefault;
    color: $colDefault;
    &:hover,
    &:focus,
    &:active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }

  .dropdown-divider {
    background-color: $bgDefault;
    border-top-color: $bgHighlight;
  }
}

// Navbar top
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
    a {
      color: $colHighlight;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
  }
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: 0.25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover,
        &:focus {
          color: $colHighlight;
        }
      }
    }
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover,
          &:focus,
          &.active {
            color: $colHighlight;
            background-color: $bgHighlight;
          }
        }
        .dropdown-divider {
          border-top-color: $bgHighlight;
        }
      }
    }
    .nav-item.active,
    .nav-item.show {
      .nav-link,
      .nav-link:hover,
      .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggler {
    border-color: $bgHighlight;
    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }
    .navbar-toggler-icon {
      color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }

  .form-control {
    border-color: #159772 !important;
    &:focus,
    &:active,
    &:visited {
      border-color: #159772 !important;
    }
  }
}

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight;
  }
}

//Show/hide searchbar in the navbar
#toggle-search {
  @media (max-width: 991px) {
    display: none;
  }
}

// button login/sign-up
.block-button {
  display: block;
  width: 300px;
  margin: 0px 15px 15px 15px !important;
}

// img item book results

.flex-book-row {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  justify-content: normal;
  align-items: flex-end;
}

.img-book-item {
  border-radius: 10px !important;
  box-shadow: 2px 2px 2px 2px #805d93;
  margin: 10px;
}

.flex-book {
  display: flex !important;
  border-width: 0px !important;
  margin-top: 5px;
  background-color: #f4e7de !important;
  align-content: stretch;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
}

.user-card {
  background-color: #f4e7de !important;
  margin: 10px;
  border-width: 0px !important;
  align-items: center;
  text-align: center;
}

.request-card {
  display: flex;
  align-items: center;
}

// removes space between the send and input button in the chat
#chatRow {
  --bs-gutter-x: 0;
}

@import '~bootstrap/scss/bootstrap';
